<section class="benefits-section" id="benefits">
  <div class="container">
    <div class="benefits-reverse">
      <div class="benefits-wrapper">
        <h2 class="benefits-title title">
          Reconnect with yourself through the art of outdoor drawing
        </h2>
        <ul class="benefits-list">
          <li class="benefits-item">
            <svg class="benefits-icon" width="48" height="48">
              <use href="./img/icon/icons-sprite.svg#spa"></use>
            </svg>
            <div class="benefits-text">
              <h3 class="benefits-subtitle">Relieves stress and anxiety</h3>
              <p class="benefits-desc">
                Drawing in nature helps you unwind, clear your mind, and escape
                daily worries in a peaceful setting.
              </p>
            </div>
          </li>
          <li class="benefits-item">
            <svg class="benefits-icon" width="48" height="48">
              <use href="./img/icon/icons-sprite.svg#sun"></use>
            </svg>
            <div class="benefits-text">
              <h3 class="benefits-subtitle">Sparks creativity</h3>
              <p class="benefits-desc">
                Whether you&#39;re a beginner or experienced, plein air drawing
                encourages creative thinking and helps you see beauty in the
                details.
              </p>
            </div>
          </li>
          <li class="benefits-item">
            <svg class="benefits-icon" width="48" height="48">
              <use href="./img/icon/icons-sprite.svg#leaf"></use>
            </svg>
            <div class="benefits-text">
              <h3 class="benefits-subtitle">Quality time in nature</h3>
              <p class="benefits-desc">
                Plein air sessions combine fresh air, gentle movement, and
                mindful observation — a perfect blend of rest and inspiration.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <img
        class="benefits-img"
        src="./img/benefits/benefits.jpg"
        srcset=""
        alt="hippos"
        width=""
        height=""
      />
    </div>
  </div>
</section>
