<section class="hero">
  <div class="container">
    <div class="hero-text">
      <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
      <p class="hero-description">
        Join us for an inspiring plein air drawing workshop where art meets
        nature. Experience the joy of sketching outdoors while enhancing your
        skills in light and composition.
      </p>

      <div class="hero-links">
        <a class="hero-btn-register" href="#register">Register</a>
        <a class="hero-btn-learn-more" href="#events">Learn More</a>
      </div>
    </div>

    <img
      class="hero-image"
      srcset="./img/hero/hero.jpg 1x, ./img/hero/hero@2x.jpg 2x"
      src="./img/hero/hero.jpg"
      alt="hero image"
      loading="lazy"
    />
  </div>
</section>
