*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #faf6f3;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0c0708;
  max-width: 1440px;
  margin: 0 auto;
}

/* Support class */
.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
