.hero {
  padding: 64px 0;
  background-color: #faf6f3;
}

@media only screen and (min-width: 1440px) {
  .hero .container {
    display: flex;
    align-items: center;

    gap: 32px;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .hero-text {
    width: 423px;

    gap: 24px;
  }
}

.hero-title {
  font-family: 'Caveat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.01em;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    max-width: 604px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    font-size: 40px;
    max-width: 423px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-description {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-description {
    max-width: 423px;
  }
}

.hero-links {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .hero-links {
    flex-direction: row;
    gap: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-links {
    gap: 16px;
  }
}

.hero-btn-register {
  padding: 10px 24px;
  width: 100%;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;

  border: 1px solid #ffb780;
  border-radius: 100px;

  background-color: #ffb780;

  transition: 300ms ease-out;
}

@media only screen and (min-width: 768px) {
  .hero-btn-register {
    width: 159px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-btn-register {
    width: 105px;
  }
}
.hero-btn-register:hover,
.hero-btn-register:focus {
  opacity: 0.5;
}

.hero-btn-learn-more {
  padding: 10px 24px;
  width: 100%;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;

  border: 1px solid rgba(12, 7, 8, 0.15);
  border-radius: 100px;
  color: #0c0708;

  white-space: nowrap;

  transition: 300ms ease-out;
}

@media only screen and (min-width: 768px) {
  .hero-btn-learn-more {
    width: 159px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-btn-learn-more {
    width: 127px;
  }
}
.hero-btn-learn-more:hover,
.hero-btn-learn-more:focus {
  opacity: 0.5;
}
.hero-image {
  display: block;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1440px) {
  .hero-image {
    width: 857px;
  }
}
